# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
rm 'coverage/base.css'
rm 'coverage/block-navigation.js'
rm 'coverage/clover.xml'
rm 'coverage/coverage-final.json'
rm 'coverage/favicon.png'
rm 'coverage/index.html'
rm 'coverage/prettify.css'
rm 'coverage/prettify.js'
rm 'coverage/sort-arrow-sprite.png'
rm 'coverage/sorter.js'
rm 'coverage/telicent-instance/index.html'
rm 'coverage/telicent-instance/src/App.tsx.html'
rm 'coverage/telicent-instance/src/AppIOC.ts.html'
rm 'coverage/telicent-instance/src/BaseIOC.ts.html'
rm 'coverage/telicent-instance/src/Components/Diagram/Diagram.tsx.html'
rm 'coverage/telicent-instance/src/Components/Diagram/EdgeDialog.tsx.html'
rm 'coverage/telicent-instance/src/Components/Diagram/Layout/index.html'
rm 'coverage/telicent-instance/src/Components/Diagram/Layout/index.ts.html'
rm 'coverage/telicent-instance/src/Components/Diagram/NodeDialog.tsx.html'
rm 'coverage/telicent-instance/src/Components/Diagram/index.html'
rm 'coverage/telicent-instance/src/Components/ResizableDivs/ResizableDivider.tsx.html'
rm 'coverage/telicent-instance/src/Components/ResizableDivs/ResizableDivs.tsx.html'
rm 'coverage/telicent-instance/src/Components/ResizableDivs/index.html'
rm 'coverage/telicent-instance/src/Components/Terminal/Terminal.tsx.html'
rm 'coverage/telicent-instance/src/Components/Terminal/index.html'
rm 'coverage/telicent-instance/src/Components/Terminal/themeRules.ts.html'
rm 'coverage/telicent-instance/src/Components/Terminal/tokenizer.ts.html'
rm 'coverage/telicent-instance/src/Components/Terminal/ttlKeywords.ts.html'
rm 'coverage/telicent-instance/src/Core/FakeHttpGateway.ts.html'
rm 'coverage/telicent-instance/src/Core/HttpGateway.ts.html'
rm 'coverage/telicent-instance/src/Core/Providers/index.html'
rm 'coverage/telicent-instance/src/Core/Providers/injection.tsx.html'
rm 'coverage/telicent-instance/src/Core/Types.ts.html'
rm 'coverage/telicent-instance/src/Core/index.html'
rm 'coverage/telicent-instance/src/HierarchyMenu/HierarchyMenu.tsx.html'
rm 'coverage/telicent-instance/src/HierarchyMenu/HierarchyPresenter.ts.html'
rm 'coverage/telicent-instance/src/HierarchyMenu/HierarchyRepository.ts.html'
rm 'coverage/telicent-instance/src/HierarchyMenu/index.html'
rm 'coverage/telicent-instance/src/TestTools/AppTestHarness.ts.html'
rm 'coverage/telicent-instance/src/TestTools/GetHierarchyMenuStub.ts.html'
rm 'coverage/telicent-instance/src/TestTools/GetHierarchyStub.ts.html'
rm 'coverage/telicent-instance/src/TestTools/GetRdfInputStub.ts.html'
rm 'coverage/telicent-instance/src/TestTools/GetTripleStub.ts.html'
rm 'coverage/telicent-instance/src/TestTools/index.html'
rm 'coverage/telicent-instance/src/constants/index.html'
rm 'coverage/telicent-instance/src/constants/index.ts.html'
rm 'coverage/telicent-instance/src/helpers/index.html'
rm 'coverage/telicent-instance/src/helpers/index.ts.html'
rm 'coverage/telicent-instance/src/index.html'
rm 'coverage/telicent-instance/src/lib/CustomEdge/CustomEdge.tsx.html'
rm 'coverage/telicent-instance/src/lib/CustomEdge/index.html'
rm 'coverage/telicent-instance/src/lib/CustomNode/ClassInstanceNode.tsx.html'
rm 'coverage/telicent-instance/src/lib/CustomNode/index.html'
rm 'coverage/telicent-instance/src/lib/DialogBox/DialogBox.tsx.html'
rm 'coverage/telicent-instance/src/lib/DialogBox/index.html'
rm 'coverage/telicent-instance/src/main.tsx.html'
rm 'coverage/telicent-instance/src/models/index.html'
rm 'coverage/telicent-instance/src/models/rdf.ts.html'
rm 'coverage/telicent-instance/src/rdfInstanceViewer/RdfInstancePresenter.ts.html'
rm 'coverage/telicent-instance/src/rdfInstanceViewer/RdfInstanceRepository.ts.html'
rm 'coverage/telicent-instance/src/rdfInstanceViewer/RdfInstanceViewer.tsx.html'
rm 'coverage/telicent-instance/src/rdfInstanceViewer/Types/index.html'
rm 'coverage/telicent-instance/src/rdfInstanceViewer/Types/index.ts.html'
rm 'coverage/telicent-instance/src/rdfInstanceViewer/index.html'
rm 'coverage/telicent-instance/tailwind.config.js.html'
