@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --app-color: 255, 162, 47;
  --app-color-50: 255, 238, 221;
  --app-color-100: 255, 217, 185;
  --app-color-200: 255, 199, 151;
  --app-color-300: 254, 182, 116;
  --app-color-400: 255, 173, 78;
  --app-color-500: 255, 162, 47;
  --app-color-600: 231, 135, 34;
  --app-color-700: 208, 107, 22;
  --app-color-800: 136, 73, 8;
  --app-color-900: 83, 43, 5;
  --app-color-950: 38, 19, 3;
}

html {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #14141460;
}

::-webkit-scrollbar-thumb {
  background-color: #6a6a6a;
  border-radius: 12px;
  border: 1px solid #141414;
}

@supports (scrollbar-color: #6a6a6a #14141460) {
  * {
    scrollbar-width: auto;
    scrollbar-color: #6a6a6a #14141460;
  }
}

@layer components {
  .hideNode {
    display: none;
  }
}

@layer utilities {
  .break-anywhere {
    overflow-wrap: anywhere;
  }

  .panel-max-h {
    height: fit-content;
    max-height: calc(100vh - 54px);
  }
}

.bp4-dark #sparql-table .bp4-table-container,
.bp4-dark #sparql-table .bp4-table-menu,
.bp4-dark #sparql-table .bp4-table-column-headers,
.bp4-dark #sparql-table .bp4-table-quadrant {
  background-color: #272727;
}

.bp4-dark #sparql-table .bp4-table-cell-client,
.bp4-dark #sparql-table .bp4-table-row-headers {
  background-color: #303030;
}

.bp4-dark .bp4-menu-item {
  background-color: #303030;
}

.toolbar {
  @apply relative w-fit dark:bg-opacity-95;
}
